

.neumann-title-box {
    background-color: var(--spp-beige);
    margin: 3%;
    padding: 0 2%;
    border-radius: 15px;
}

.neumann-img {
    width: 20%;
    border-radius: 50%;
}

.neumann-title-box h1 {
    font-size: 4ch;
    color: var(--spp-white);
}

.neumann-text-box {
    background-color: var(--spp-beige);
    margin: 6%;
    padding: 0 2%;
    border-radius: 15px;
    color: var(--spp-white);
}

.neumann-text-box h2 {
    font-size: 175%;
    margin-top: 4%;
    margin-bottom: 0;
}

.neumann-text-box h3 {
    margin-top: 1%;
    margin-bottom: 0;
}

.neumann-text-box p {
    font-size: large;
    margin-top: 0.5%;
}