.sidebar-content {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 15%;
}

.sidebar-category {
    margin: 10% 0;
    font-family: Lexend;
    font-size: x-large;
    text-shadow: 0 0 20px var(--spp-gray);
}

.sidebar-category a {
    text-decoration: none;
    color: var(--spp-gray);
    margin: 3%;
    transition: 250ms ease-in-out;
}
.sidebar-category a:hover {
    color: var(--spp-blue);
}

.sidebar-subcategory {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding-left: 5%;
    padding-right: 40%;
    font-size: 1.5rem;
    border-left: solid var(--spp-gray);
    border-width: 0.4vw;
    border-radius: 7%;
}

.sidebar {
    position: fixed;
    background-color: var(--spp-white);
    width: 20vw;
    height: 100%;
}

.logo-bar {
    background-color: var(--spp-red);
    width: 20vw;
    height: 10%;
    margin: 0;
    display: grid;
    place-items: center;
}

.logo-bar a {
    text-align: center;
    color: var(--spp-white);
    text-decoration: none;
    font-family: Lexend;
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    transition: 250ms ease-in-out;
}

.logo-bar a:hover {
    color: var(--spp-blue);
}